Django>=1.8,<=1.9
psycopg2
djangorestframework==3.5.0
git+git://github.com/carltongibson/django-filter@v0.10.0#egg=django_filters
djangorestframework-gis
celery[librabbitmq]
python-social-auth
lxml
#GDAL
python-magic
